<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ui-mobile-rendering" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"> 
  <!--Detect if the browser is a mobile browser or a desktop browser and conditionally include your JavaScript --> 
  <script>

      // Mobile/Desktop Detection script
      (function(ua, w, d, undefined) {

        // App Environment
        var production = false,
          // Configuration object that will contain the correct prod/dev CSS and JavaScript files to load
          config = {}
        w.addEventListener("DOMContentLoaded", function() {
          // Mobile/Tablet Logic
          if((/iPhone|iPod|iPad|Android|BlackBerry|Opera Mini|IEMobile/).test(ua)) {
            config = {
              "dev-css": ["<%= appUrl %>css/app.css"],
              "dev-js": [{ "data-main": "<%= appUrl %>js/app/config/MobileInit.js", "src": "<%= appUrl %>js/libs/require.js" }],
              "prod-js": ["<%= appUrl %>js/app/config/MobileInit.min.js"]
            };

          }

          // Desktop Logic
          else {
            config = {
              "dev-css": ["<%= appUrl %>css/app.css"],
              "dev-js": [{ "data-main": "<%= appUrl %>js/app/config/DesktopInit.js", "src": "<%= appUrl %>js/libs/require.js" }],
              "prod-js": ["<%= appUrl %>js/app/config/DesktopInit.min.js"]
            }

          }

          loadFiles(config, function() {

              loadFiles({
                "dev-css": ["<%= appUrl %>css/app.css"],
                "prod-css": ["<%= appUrl %>css/app.min.css"]
              });

          });

          function loadCSS(urls, callback) {

            var x, link;
            for(x = 0; x <= urls.length - 1; x += 1) {
              link = d.createElement("link");
              link.type = "text/css";
              link.rel = "stylesheet";
              link.href = urls[x];
              d.querySelector("head").appendChild(link);
            }

            if(callback) callback();

          }

          function loadJS(files, callback) {
            var x, script, file
            for(x = 0; x <= files.length - 1; x += 1) {
              file = files[x];
              script = d.createElement('script');
              if(((typeof file).toLowerCase()) === "object" && file["data-main"] !== undefined) {
                script.setAttribute("data-main", file["data-main"]);
                script.src = file.src;
              }

              else {
                script.src = file;
              }
              d.body.appendChild(script);
            }
            if(callback) callback();
          }

          function loadFiles(obj, callback) {
            if(production) {
              loadCSS(obj["prod-css"], function() {
                if(obj["prod-js"]) {
                  loadJS(obj["prod-js"], callback);
                }
              });
            }
            else {
              loadCSS(obj["dev-css"], function() {
                if(obj["dev-js"]) {
                  loadJS(obj["dev-js"], callback);
                }
              });
            }
          }
        }, false);

      })(navigator.userAgent || navigator.vendor || window.opera, window, window.document);

  </script>
</head>
<body>
	<div id="page-wrapper">
		<header id="header">
			<div class="top-nav">
			  <div class="left ">
				  <a id="NavGoHome" class="home active" href="#">Home</a>
				  <a id="NavGoBlog" href="#blog" class="blog" >Blog</a>
				  <a id="NavGoAPI" href="#api" class="api">API</a>
			  </div>
			  <div class="right">
				  <a id="NavGoAbout" href="#about">About</a>
				  <span class="vertical divider"></span>
				  <a class="fr" id="LogOut"  href="/logout">Log Out</a>
			  </div>
			</div>
			<div class="app-nav-wrapper clearfix">
				<div class="app-nav">
				<a href="#dashboard"><span class="fontawesome-dashboard"></span>Dashboard</a>
					<a href="#inbox"><span class="fontawesome-inbox"></span>Inbox</a>
					<a href="#booking"><span class="fontawesome-plane"></span>Booking</a>
					<a href="#inventory"><span class="fontawesome-table"></span>Inventory</a>
					<a href="#listings"><span class="fontawesome-list-ul"></span>Listings</a>
					<a href="#customers"><span class="fontawesome-group"></span>Customers</a>
					<a href="#metrics"><span class="fontawesome-bar-chart"></span>Metrics</a>
					<a href="#settings"><span class="fontawesome-cogs"></span>Settings</a>	
				</div>			
			</div>
		</header>
		<!-- the main body -->
		<div class="viewport-wrapper">
			<div class="arrow-top dashboard">&nbsp;</div>
			<div class="viewport"></div>
		</div>
		<section class="content-box clearfix">
			<h3>Test123 12 3</h3>
			<p>Lorizzle ipsizzle dope i'm in the shizzle amizzle, doggy away black. Nullam sapien velizzle, ma nizzle volutpizzle, suscipizzle izzle, gravida vizzle, i'm in the shizzle. Pellentesque ass tortor. Gangsta erizzle. Fusce at phat dapibizzle turpis tempus shizzlin dizzle. Mauris dope nibh et turpizzle. My shizz in tortor. Pellentesque bow wow wow rhoncizzle ma nizzle. Pot the bizzle habitasse doggy dictumst. Fizzle dapibizzle. Curabitur tellus i saw beyonces tizzles and my pizzle went crizzle, pretizzle away, mattizzle you son of a bizzle, eleifend vitae, nunc. For sure rizzle. Integer sempizzle velit sizzle purizzle.

Etizzle a magna black augue hendrerit accumsizzle. Daahng dawg izzle est. Vivamizzle shiznit da bomb, fo shizzle vitae, bow wow wow izzle, fizzle izzle, erizzle. Vestibulum ante pizzle crazy izzle dizzle mammasay mammasa mamma oo sa shiznit phat fo posuere cubilia Curae; Donizzle fo. Ghetto faucibizzle. Uhuh ... yih! pharetra bow wow wow quam. Yo mamma rutrizzle owned check out this. Sizzle facilisizzle. My shizz dope nulla, boom shackalack eu, scelerisque boom shackalack, blandit ac, magna.

Yo mamma nizzle turpis boofron mah nizzle bibendizzle fo shizzle. Vivamus the bizzle tortizzle vel sure. Quisque go to hizzle crazy magna. Shut the shizzle up commodo, nisl nizzle shizznit egestizzle, magna bow wow wow vestibulum ligula, fo shizzle my nizzle auctizzle shit dolor cool augue. Sheezy id go to hizzle sizzle amizzle erizzle adipiscing fo shizzle. Vivamus tempor pede izzle gizzle. In rhoncizzle nonummy leo. Lorizzle boom shackalack mofo sit amizzle, consectetizzle fizzle sure. Daahng dawg nisi ligula, posuere sizzle amet, facilisizzle rizzle, gizzle mattizzle, libero. Curabitur sempizzle faucibizzle shut the shizzle up. Away nizzle leo. Nunc sed risizzle a dawg fo shizzle egestas. Quisque go to hizzle metizzle boom shackalack check it out. Aenizzle sodales, shit quis varius crackalackin, lectizzle diam commodo that's the shizzle, nizzle ullamcorpizzle stuff nisl quis nisi. Brizzle black quizzle, doggy sit break yo neck, yall, ornare yo mamma, get down get down pulvinar, felis.

ante yippiyo that's the shizzle in uhuh ... yih! orci luctus et ultricizzle posuere uhuh ... yih! Curae; Sizzle sheezy nulla quis owned bow wow wow aliquam. Fizzle euismizzle erat. Brizzle volutp</p>
		</section>
		<!-- end main body -->
		<footer id="footer"></footer>
	</div>	
</body>
</html>