<!doctype html>
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9 ui-mobile-rendering" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js ui-mobile-rendering" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title></title>
  <meta name="description" content="">
  <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, width=device-width"> 
  <script>

      // Mobile/Desktop Detection script
      (function(ua, w, d, undefined) {

        // App Environment
        var production = false,
          // Configuration object that will contain the correct prod/dev CSS and JavaScript files to load
          config = {}
        w.addEventListener("DOMContentLoaded", function() {
          // Mobile/Tablet Logic
          if((/iPhone|iPod|iPad|Android|BlackBerry|Opera Mini|IEMobile/).test(ua)) {
            config = {
              "dev-css": ["<%= appUrl %>css/libs/jquery.mobile.css"],
              "prod-css": ["<%= appUrl %>css/libs/jquery.mobile.min.css"]
            };

          }

          // Desktop Logic
          else {
            config = {
              "dev-css": ["<%= appUrl %>css/libs/bootstrap.css"],
              "prod-css": ["<%= appUrl %>css/libs/bootstrap.min.css"]
            }

          }

          loadFiles(config, function() {

              loadFiles({
              });

          });

          function loadCSS(urls, callback) {

            var x, link;
            for(x = 0; x <= urls.length - 1; x += 1) {
              link = d.createElement("link");
              link.type = "text/css";
              link.rel = "stylesheet";
              link.href = urls[x];
              d.querySelector("head").appendChild(link);
            }

            if(callback) callback();

          }

          function loadJS(files, callback) {
            var x, script, file
            for(x = 0; x <= files.length - 1; x += 1) {
              file = files[x];
              script = d.createElement('script');
              if(((typeof file).toLowerCase()) === "object" && file["data-main"] !== undefined) {
                script.setAttribute("data-main", file["data-main"]);
                script.src = file.src;
              }

              else {
                script.src = file;
              }
              d.body.appendChild(script);
            }
            if(callback) callback();
          }

          function loadFiles(obj, callback) {
            if(production) {
              loadCSS(obj["prod-css"], function() {
                if(obj["prod-js"]) {
                  loadJS(obj["prod-js"], callback);
                }
              });
            }
            else {
              loadCSS(obj["dev-css"], function() {
                if(obj["dev-js"]) {
                  loadJS(obj["dev-js"], callback);
                }
              });
            }
          }
        }, false);

      })(navigator.userAgent || navigator.vendor || window.opera, window, window.document);

  </script>
  <style type="text/css">
      body {
        padding-top: 40px;
        padding-bottom: 40px;
        background-color: #f5f5f5;
      }
      .container{
      	width: 100% !important;
      }
      .alert{
	      width:300px !important;
	      margin:0 auto !important;
	      position: relative;
	      top: 10px;
      }
      .form-signin {
        max-width: 300px;
        padding: 19px 29px 29px;
        margin: 0 auto 20px;
        background-color: #fff;
        border: 1px solid #e5e5e5;
        -webkit-border-radius: 5px;
           -moz-border-radius: 5px;
                border-radius: 5px;
        -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
           -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
                box-shadow: 0 1px 2px rgba(0,0,0,.05);
      }
      .form-signin .form-signin-heading,
      .form-signin .checkbox {
        margin-bottom: 10px;
      }
      .form-signin input[type="text"],
      .form-signin input[type="password"] {
        font-size: 16px;
        height: auto;
        margin-bottom: 15px;
        padding: 7px 9px;
      }

    </style>
</head>
<body>
	<div class="container">
		<div class="row">
		<% if(error != undefined){ %>
	      	<div class="alert alert-error">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <%= error %>
			</div>
		<% } %>
	      <form class="form-signin well" action="/login" method="post">
	        <h2 class="form-signin-heading">Please sign in</h2>
	        <input type="text" class="input-block-level" name="username" placeholder="Email address">
	        <input type="password" class="input-block-level" name="password" placeholder="Password">
	        <button class="btn btn-large btn-primary" type="submit">Sign in</button>
	      </form>
	    </div>
    </div>
</body>
</html>